<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name ="Suite">
    <listeners>
        <listener class-name="resources.ExtentReportsListeners"/>
    </listeners>
<!--    <test name ="Scn Login">-->
<!--        <classes>-->
<!--            <class name ="Tests.Scn_Login"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name ="Verify Title">
        <classes>
            <class name ="Tests.Verify_Title"/>
        </classes>

    </test>

</suite>